html {
  scroll-behavior: smooth;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  
}

body{
  margin:0;
  padding:0;
  box-sizing: border-box;
  
}
.quill{
  height: 80vh;
}

.ant-card-actions{
  background-color: rgba(103,0,0,0.8);
  border-top: 1px solid black;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}


@import './_calendar';
@import './_nav';
@import './index'