html {
  scroll-behavior: smooth;
  --antd-wave-shadow-color: none;
}
:root{
  height:100vh;
  overflow: scroll;
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  

}

body{
  margin:0;
  padding:0;
  box-sizing: border-box;
  
}
.quill{
  height: 80vh;
}

.ant-card-actions{
  background-color: rgba(103,0,0,0.8);
  border-top: 1px solid black;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  background-image: url("https://www.transparenttextures.com/patterns/skulls.png");
}


.stamp {
  transform: rotate(12deg);
	color: #555;
	font-size: 3rem;
	font-weight: 700;
	border: 0.25rem solid #555;
	display: inline-block;
	padding: 0.25rem 0.1rem;
	text-transform: uppercase;
	border-radius: 1rem;
	font-family: 'Courier';
	-webkit-mask-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png');
  -webkit-mask-size: 900px 604px;
  mix-blend-mode: multiply;
  z-index: 0;
  position:absolute;
}
.is-nope {
  color: rgba(221, 34, 51,0.8);
  border: 0.5rem double rgba(221, 34, 51,0.8);
  margin: 10px 0 0 0;
  transform: rotate(3deg);
	-webkit-mask-position: 2rem 3rem;
  font-size: 1.5rem;  
}

.is-approved {
	color: rgba(58, 223, 58,0.8);
	border: 0.5rem solid rgba(58, 223, 58,0.8);
	transform: rotate(-14deg);
	-webkit-mask-position: 2rem 3rem;
  border-radius: 0;
  margin: 10px 15px 0 0;
  font-size: 1.5rem; 
} 

.ant-row{
  overflow-y: scroll;
  height: 90vh;
}

.btn{
  background-color: #C7B699;
  background-image: url("https://www.transparenttextures.com/patterns/shattered-dark.png");
  border-color:#D5C6AD;
  color:#D5C6AD;
  &:hover{
    background-color:rgb(103,0,0);
    color:#D5C6AD;
    border-color:#C7B699;
  }
}
.btn-group{
  .active{
    background-color: rgb(103,0,0);
    border-color:#C7B699;
  }
  &:hover{
    background-color:rgb(103,0,0)
  }
}
.btn-check:checked + .btn-primary:focus, .btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus, .show > .btn-primary.dropdown-toggle:focus,.fc-prev-button:active:focus,.fc-next-button:active:focus.btn-primary:focus{
  box-shadow:none;

  
}

.fc-today-button{

  &:disabled{
  background-color:rgb(103,0,0);
    color:#D5C6AD;
  }
}
@import './_calendar';
@import './_nav';
@import './index';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Noto+Sans+Mono&display=swap');