:root{
  --fc-neutral-bg-color: rgba(208, 208, 208, 0.3);
}
.calendar-container {
  
  height: 100vh;
  justify-content: space-between;
  display: flex;
  animation-name: fadeIn;
  animation-duration: 3s;
}

.fc-daygrid-day-frame,
.fc-scrollgrid-sync-inner,
.fc-view-harness
{
  
  background-color: rgb(208, 194, 147);
  background-color: rgba(208, 194, 147,0.2);

  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
.fc {
  width: 80%;
  
}

.fc-day-sat {
  color: blue ;
}
.fc-day-sun {
  
  color: red ;
}
.fc-day{
  border:1px solid #ccc;
}
.fc-daygrid-week-number.fc-daygrid-week-number{
  color:black;
  opacity: 0.5;
}

.fc-view-harness{
  border-top: 1px solid #ccc;
 
}



@keyframes fadeIn {
  from { opacity: 0; }
to { opacity: 1; }
}

.fc-event {
  
  border-radius: 1rem;
  margin: 0 0 1rem  0;
  color: white;
  text-align: center;
  width: 95%;
  margin: 10px 0 0 0;
  animation-name: fadeIn;
  animation-duration: 1s;
}



.todo-container {
  width: 20%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.todolist {
  height: 60%;
}

#external-events {
  height: 88%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  align-items: center;
  
}

.dumpster{
  height: 12%;
  border-bottom: 1px solid #ccc; 
  border-left: 1px solid #ccc;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2.5rem;
  
  
}

.todoinput{
  height: 40%;
  display: flex;
  flex-direction: column;
}
.addevent,
.detail,
.selectcolor
{
  border:1px solid #ccc;
  height: 20%;
  font-size: 1.5rem;
}

.selectcolor{
  opacity: 0.5;
  text-align: center;
  text-align-last: center;
  font-size: 2rem;
  -ms-text-align-last: center;
  -moz-text-align-last: center;
}
.addtodo{
  background: white;
  height: 20%;
  font-size: 2rem;
  border:1px solid #ccc;
  
}

// .checkbox{
//  padding:2px;
  
// }
// .fc-event-title{
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   width: 100%;
//   justify-content: space-evenly;
// }

