.nav {
  border-bottom: 5px double rgb(0,0,0);
 margin-bottom: 5px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  min-height: 10vh;
}
.buttons {
  margin-right: 50px;
  width: 15vw;
  display: flex;
  justify-content: space-around;
  button {
    height: 70%;
    background: transparent;
    border: none;
    border: 2px solid rgb(65, 65, 65);
    cursor: pointer;
    padding: 0.5rem;
    transition: all 0.3s ease;
    &:hover {
      background: rgb(103, 0, 0);
      color: rgb(0,0,0);
    }
  }
}
